.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  text-align: center;
  margin-top: 15px auto;
  font-size: 25px;
  line-height: 25px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.search-input {
  width: 100%
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  font-family: "Helvetica Neue", "Helvetica", "sans-serif";
}

footer {
  margin-top: 20px;
  color: #aaa;
}

p {
  margin: 0;
}

div.col-xs-4 > #weatherDesc {
  height: 40px;
}

